<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<style>
		form {
			margin-right: 70%;
			position: absolute;
			left: 40%;
			top: 15%;
			padding-left: 50px;
		}

		h1 {
			text-align: center;
		}

		#box {
			font-size: 20px;
			margin-top: 0%;
			padding-left: 30px;
		}

		#login {
			align-content: center;
			margin-left: 30%;
			width: 40%;
			height: 20%;
		}

		#create {
			width: 150%;
			font-size: 16px;
		}

		#anchor {
			text-decoration: none;
		}
	</style>
</head>

<body>
	<form th:action="@{/authenticateTheUser}" th:method="post">
		<h1>Login</h1>
		<br>
		<div id="box">
			<div>
				<input type="email" placeholder="Email" id="email" name='username' required>
			</div>
			<br>
			<div>
				<input type="password" placeholder="Password" id="password" name='password' required>
			</div>
			<br>
			<input type="submit" value="Submit" id="login">
			<br><br>
			<div id="create">
				<span>Doesn't have account?<a id="anchor" href="/register">Create one</a></span>
			</div>
		</div>
	</form>

</body>

</html>