<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Edit Post</title>
	<style>
		h1 {
			text-align: center;
			margin-top: 50px;
			font-size: 50px;
		}

		#title,
		#tags,
		#author {
			width: 1590px;
			height: 40px;
			font-size: 30px;
			margin-left: 100px;
		}

		#content {
			margin-left: 100px;
		}

		#publish {
			font-size: 20px;
			margin-left: 48%;
			width: 100px;
			height: 50px;
		}
	</style>
</head>

<body>
	<h1>Edit post</h1>
	<form th:action="@{/updatePost{id}(id=${post.id})}" th:method="post">
		<div>
			<input type="text" th:value="${post.title}" id="title" name="title" required><br><br><br>
			<input type="text" th:value="${tags}" id="tags" name="tags" required><br><br><br>
			<input type="text" th:value="${post.author}" id="author" name="author" required><br><br><br>
			<textarea th:text="${post.content}" id="content" name="content" rows="30" cols="196"
				required></textarea><br><br>
			<input type="submit" value="Publish" id="publish" name="publish">
		</div>
	</form>
</body>

</html>